/node_modules
/public/hot
/public/storage
/storage/*.key
/public/js
/public/css
/public/mix-manifest.json
/public/vendor/telescope/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.php_cs
.php_cs.cache
.phpunit.result.cache
phpunit.xml.dist
.php-cs-fixer.cache
